
<b><H1 style="text-align:center;" > Login Here

</H1></b>

<form class="example-form" style="text-align:center;" >
    
    <p>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="loginData.email" name="email" placeholder="Ex.JohnDoe@email.com" required type="email"> 
          </mat-form-field>
    </p>

    <p>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="loginData.password" name="password" placeholder="password"  required type="password">
          </mat-form-field>
    </p>
      
  
    <p>
        <button mat-raised-button color="primary" (click)="Post()">Login</button>
    </p>
  </form>